<div class="section-headers">
  <div>KEY MEASURES - ALL ASTRAZENECA</div>
  <div>BIOPHARMA & ONCOLOGY</div>
</div>
<phase-trial></phase-trial>
<div class="section-headers">
  <div>STUDIES PHARMACEUTICALS</div>
  <div>116 Total Studies</div>
</div>

<div class="trial-phase-detail-graph">
  <div *ngFor="let graph of graph$ | async" class="mat-elevation-z1">
    <trial-phase-detail-graph [graph]="graph"></trial-phase-detail-graph>
  </div>
</div>

<div class="time-slider mat-elevation-z1">
  <button mat-button>
    <div class="range">1Years 4Months</div>
    <div class="description">Shortest Study Time</div>
  </button>

  <button mat-button>
    <div class="range">3Years 10Months</div>
    <div class="description">Average Study Time</div>
  </button>

  <button mat-button>
    <div class="range">4Years 6Months</div>
    <div class="description">Longest Study Time</div>
  </button>
</div>
