<mat-toolbar class="mat-elevation-z0 app-bar">
  <div class="app-title">
    BioPharmaceuticals R&D KPI's
  </div>
  <div class="view-type">
    <mat-button-toggle-group>
      <mat-button-toggle>
        <mat-icon>grid_on</mat-icon>
        Grid
      </mat-button-toggle>
      <mat-button-toggle>
        <mat-icon>list</mat-icon>
        List
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="user-info">
    <div class="user-image"></div>
    <div class="user-detail">
      <p>
        Mene.P
      </p>
      <p>
        EVP, R&D BioPharma
      </p>
    </div>
  </div>
</mat-toolbar>
