<div class="main-content">
  <div class="data-selection">
    <div class="drop-down">
      <mat-form-field>
        <mat-label>select comparison</mat-label>
        <mat-select [formControl]="comparison">
          <mat-option [value]="5">5 Year Industry Comparison</mat-option>
          <mat-option [value]="2">2 Year Industry Comparison</mat-option>
          <mat-option [value]="1">1 Year Industry Comparison</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="selected-value">
      {{ selected$ | async }}
    </div>
    <div class="export-data">
      <button mat-raised-button>
        <mat-icon>cloud_download</mat-icon>
        Export
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
