.main-content {
    padding: 20px 60px;
    background-color: #F5F6FA;
}


.data-selection {
  display: flex;
  height: 70px;
  .drop-down {
    width: 30%;
    z-index: 10000;
    mat-form-field {
      width: 100%;
      font-weight: bold;
      font-size: 120%;
    }
  }
  .selected-value {
    width: 30%;
    padding: 10px 10px 10px 20px;
    line-height: 70px;
  }
  .export-data {
    padding: 10px 0 10px 10px;
    width: 40%;
    text-align: right;
    button {
      height: 50px;
      width: 120px;
      mat-icon {
        margin-top: -5px;
        margin-right: 5px;
      }
    }
  }
}
