:host {
  width: 25%;
  padding: 0 10px;
  box-sizing: border-box;
}

:host(.last) {
  > div {
    border: none;
  }
}

div {
  border-right: 0.5px solid lightgrey;
}

div:nth-child(1) {
  font-weight: bolder;
  font-size: 200%;
}

div:nth-child(2) {
  color: grey;
  font-size: 90%;
}

div:nth-child(3) {
  font-size: 70%;
  font-weight: bold;
}

div:nth-child(4) {
  font-size: 62%;
  // font-weight: bold;
  color: #DBDBDB;
}
