/* You can add global styles to this file, and also import other style files */

body {
  max-width: 1400px;
  background-color: #F5F6FA;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Open sans", "Helvetica Neue", sans-serif; }



.mat-list-item-content {
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
